/* GLOBAL */

*{
	box-sizing: border-box;
}

body{
	color: #fff;

}

a:hover{
	text-decoration: none;
}


main{
	background-image: url("../../public/giphy.gif");
	background: cover;
	
}
/* HEADER */

header{
	padding-top: 20px;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	font-size: 40px;
	font-family: 'Comic Sans MS', sans-serif;
	font-weight: bold;
}

/* CHAT */


.user{
	width: 10%;
}
.message{
	width: 80%;
}

 .submit-message{
	width:8%;
	color: #000;
	background-color: pink;
	border: 2px pink solid;
 }

form{
	
	width: 100%;
	padding:20px 0;
}

form div{
	display: inline;
}
